/* import the landing css page for global styles */
@import url('landing.css');

/* main styling */
.main {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* everything else styling */
.everything {
    background: rgb(15, 15, 16);
    background: radial-gradient(circle, rgba(15, 15, 16, 1) 0%, rgba(7, 37, 73, 1) 100%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* nav bar styling */
nav {
    background: rgb(15, 15, 16);
    background: radial-gradient(circle, rgba(15, 15, 16, 1) 0%, rgba(7, 37, 73, 1) 100%);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

/* welcome message styling */
#welcome {
    color: #fff;
    font-size: 35px;
}

/* crypto holdings section styling */
#holdings h2 {
    font-size: 20px;
    color: #fff;
    margin-top: 40px;
}

#holdings p {
    font-size: 15px;
    color: #ccc;
}

#holdings th {
    color: #fff;
    background-color: #124687;
    text-align: center;
}

#holdings td {
    text-align: center;
    color: #ccc;
}

/* overview area styling */
.overview {
    margin-top: 20px;
}

.overview h3 {
    font-size: 20px;
    color: #fff;
}


