/* import the landing css page for global styles */
@import url('landing.css');
@import url('home.css');

/* main styling */
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info p {
    margin-bottom: 10px;
    color: #676B70;
}

.profile-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

/* form styling */
.settings {
    margin-bottom: 40px;
}

.settings h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #676B70;
}

form input[type="email"],
form input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}
