/* import the landing css page for global styles */
@import url('landing.css');
@import url('home.css');

/* market data styling */
.market-data {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

.market-data .title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.market-data li {
    margin-bottom: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
}

/* search bar styling  */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    margin-left: 75px;
}

.search-bar select {
    flex-grow: 1;
    font-size: 15px;
    cursor: pointer;
    color: #676B70;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
    height: 40px;
}

.search-bar select:focus {
    outline: 2px solid #0056b3;
}

.search-bar button {
    background-color: #676B70;
    color: #fff;
    border: 2px solid #676B70;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Sort options styling */
.sort-options {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 50%;
}

.sort-options label {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 15px;
    color: #fff;
}

.sort-options select {
    flex-grow: 1;
    font-size: 15px;
    cursor: pointer;
    color: #676B70;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
    height: 40px;
}

.sort-options select:focus {
    outline: 2px solid #0056b3;
}

.sort-options button {
    background-color: #676B70;
    color: #fff;
    border: 2px solid #676B70;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-options button:hover {
    background-color: #0056b3;
}

