/* import the landing and home css page for global styles */
@import url('landing.css');
@import url('home.css');

#layout {
    flex: 1;
    margin: 10px;
    border: 2px solid #ccc;
    text-align: center;
    background: rgb(15, 15, 16);
    background: radial-gradient(circle, rgba(15, 15, 16, 1) 0%, rgba(7, 37, 73, 1) 100%);
}

.everything .history {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.everything ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.everything ul li {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    color: #ccc;
}

#trade-section {
    display: flex;
    width: 50%;
}

.forms {
    color: #fff;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
}

.everything .forms label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

.everything .forms h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.forms input[type="number"],
.forms select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.forms button {
    background-color: #676B70;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.forms button:hover {
    background-color: #555;
}


.crypto-list .crypto-list-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.crypto-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

.crypto-list li {
    margin-bottom: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
}

.symbol {
    display: flex;
    align-items: center;
}

.money-symbol {
    margin-right: 5px;
    color: #ccc;
}

#usdAmount {
    flex: 1;
}