<%- include('partials/header') %>

  <!-- Main section -->
  <section id="main">
    <div class="container">
      <!-- <div class="logo-container">
        <img src="/public/images/logo.png" alt="Crypto Nest Logo">
      </div> -->
      <h1>Welcome to Crypto Nest: Your Gateway to the Future of Trading</h1>
      <p>Experience the Next Evolution in Crypto Trading with Crypto Nest. A cutting-edge platform that combines advanced technology
      and intuitive design to empower traders like never before. Dive into a world of seamless transactions, real-time
      analytics, and personalized insights. Whether you're a seasoned investor or just starting your journey, Crypto Nest is
      your launchpad to success in the digital frontier.</p>
      <p>Gain access to your account securely by signing in with Google. <a href="/auth/google">Sign in with Google</a>
        to get
        started.</p>
    </div>
  </section>

  <!-- Features section -->
  <section id="features">
    <div class="container">
      <h2>Key Features</h2>
      <div class="feature">
        <h3>Real-time Tracking</h3>
        <p>Stay updated with real-time data on cryptocurrency prices and market trends.</p>
      </div>
      <div class="feature">
        <h3>Portfolio Management</h3>
        <p>Effortlessly manage your cryptocurrency portfolio and track your investments.</p>
      </div>
      <div class="feature">
        <h3>Market Analysis</h3>
        <p>Analyze market data and trends to make informed investment decisions.</p>
      </div>
    </div>
  </section>

  <!-- Benefits section -->
  <section id="benefits">
    <div class="container">
      <h2>Benefits</h2>
      <div class="benefit">
        <p>Maximize your investment returns and optimize your portfolio performance.</p>
      </div>
      <div class="benefit">
        <p>Stay informed with real-time alerts and notifications on market changes.</p>
      </div>
      <div class="benefit">
        <p>Secure your assets with advanced encryption and authentication protocols.</p>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>