<%- include('partials/header') %>

    <!-- Navigation bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/trade">Trade</a></li>
            <li><a href="/marketdata">Market Data</a></li>
        </ul>
    </nav>

    <!-- Settings and Log Out links -->
    <div class="profile-links">
        <a href="/settings">Settings</a>
        <a href="/logout">Log Out</a>
    </div>

    <!-- portfolio summary -->
    <section class="portfolio-summary">
        <h2>Portfolio Summary</h2>
        <div class="summary-info">
            <div class="total-portfolio-value">
                <h3>Total Portfolio Balance</h3>
                
                
            </div>
        </div>
        <div class="graphs">
            <!-- graphs -->
        </div>
    </section>

<!-- crypto holdings -->
<section class="crypto-holdings">
    <h2>Cryptocurrency Holdings</h2>
    <div class="holdings-list">
        <table>
            <thead>
                <tr>
                    <th>Cryptocurrency</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <% holdings.forEach(holding=> { %>
                    <tr>
                        <td>
                            <%= holding.cryptocurrency %>
                        </td>
                        <td>
                            <%= holding.amount %>
                        </td> 
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</section>

    <%- include('partials/footer') %>